<% @title = 'アプリケーション設定' %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_for @setting, url: :admin_application_settings do |f| %>
    <%= render 'form', f: f %>
    <div class="buttons">
      <%= f.submit '更新' %>
      <%= link_to 'キャンセル', :admin_root %>
    </div>
  <% end %>
</div>
