<% @title = 'List of interest' %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to 'Add new', :new_staff_interest %>
  </div>

  <%= render 'search_form' %>

  <%= paginate @interests %>
  <table class="listing">
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
    <% @interests.each do |i| %>
      <% p = InterestPresenter.new(i, self) %>
      <tr>
        <td><%= p.title %></td>
        <td class="actions">
          <%= link_to 'Edit', [:edit, :staff, i ] %> |
          <%= link_to 'Delete', [ :staff, i ], method: :delete,
                      data: { confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= paginate @interests %>

  <div class="links">
    <%= link_to 'Add new', :new_staff_interest %>
  </div>
</div>
